*, *::before, *::after {
    box-sizing: border-box;
}

.ag-theme-portmonetka {
    --ag-header-background-color: #191919;
    --ag-odd-row-background-color: #292929;
    --ag-row-hover-color: #393939;
    --ag-border-color: #696969;
    --ag-odd-row-background-color: transparent;
    --ag-input-focus-border-color: transparent;
    --ag-input-focus-box-shadow: none;
    --ag-range-selection-border-color: transparent;
    --ag-alpine-active-color: var(--primary);
    --ag-background-color: #191919;
    --ag-control-panel-background-color: #292929;
    --ag-data-color: var(--light-color);
    --ag-selected-row-background-color: #494949; /*#cc9c58;*/
    --ag-border-radius: 5px;
    --ag-borders-input: 1px solid #292929;
    --ag-widget-vertical-spacing: 1rem;
    --ag-list-item-height: 2rem;
    /*flex-grow: 1;*/
}

[class*=ag-theme-] {
    -webkit-font-smoothing: antialiased;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

/*.ag-theme-portmonetka .ag-root {
    height: fit-content;
    min-height: 9rem;
}*/

.ag-root-wrapper {
    border: none;
}

input[class^=ag-],
input[class^=ag-][type=number],
input[class^=ag-][type=text],
input[class^=ag-][type=date] {
    /*background-color: var(--input__background--dark);*/
    background-color: #292929;
    border: 1px solid #292929;
    transition: background-color 0.2s ease-out;
}

    input[class^=ag-]:hover,
    input[class^=ag-]:focus-visible {
        background-color: #090909;
        border: 1px solid var(--button-dark-accent);
    }

/*.ag-popup inputs + #101010 to background-colors*/

.ag-theme-alpine-dark .ag-ltr input[class^=ag-][type=text],
.ag-theme-alpine-dark .ag-ltr input[class^=ag-][type=number],
.ag-theme-alpine-dark .ag-ltr input[class^=ag-][type=date] {
    min-height: 2rem;
    padding: 0.375rem 0.75rem;
}

.ag-header {
    border: none;
}

/*.ag-root-wrapper,
.ag-root.ag-layout-normal,
.ag-header,
.ag-header-viewport,
.ag-header-cell {
    overflow: visible;
}*/

.ag-header-cell, .ag-header-group-cell {
    padding: 0 0.75rem;
}

    .ag-header-cell[col-id="isDeleted"],
    .ag-cell[col-id="isDeleted"] {
        padding: 0;
    }

.ag-theme-alpine-dark .ag-header-row {
    font-weight: normal;
    color: var(--light-color);
}

.ag-menu {
    border: none;
    box-shadow: none;
    padding: 1rem;
}

.ag-theme-alpine-dark .ag-menu {
    /*background-color: var(--ag-control-panel-background-color);*/
    background-color: #393939;
}

.ag-icon {
    color: darkgrey;
}

.ag-icon-small-down::before {
    margin: 0 0.5rem;
}

.ag-simple-filter-body-wrapper {
    padding: 0;
    overflow-y: visible;
}

.ag-picker-field-wrapper {
    border: none;
}

    .ag-picker-field-wrapper:focus {
        box-shadow: var(--focus-box-shadow);
    }

.ag-select .ag-picker-field-wrapper {
    background-color: var(--input__background--dark);
}

.ag-select .ag-picker-field-display {
    margin: 0;
    padding: 0.375rem 0.75rem;
}

.ag-filter-apply-panel {
    border: none;
    padding: 0;
    display: flex;
    gap: 1rem;
}

    .ag-filter-apply-panel > button {
        width: 50%;
    }

.ag-theme-alpine-dark .ag-standard-button {
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
    border: none;
    margin: 0;
    padding: 0.375rem 0.75rem;
    /*background: var(--button-dark);*/
    background: #191919;
    color: var(--light-color);
    border-radius: 5px;
    font-weight: bold;
    transition: 0.15s ease-in-out;
}

    .ag-theme-alpine-dark .ag-standard-button:hover {
        background: var(--button-dark-accent);
        color: var(--light-color-accent);
    }

    .ag-theme-alpine-dark .ag-standard-button[type=submit]:hover {
        background: var(--primary);
        color: var(--dark-color);
    }

.ag-overlay-no-rows-center {
    align-self: flex-end;
}
